* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 16px;
    line-height: 2em;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

}


.exercise__container {
    background-color: #ecf0f3;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.exercise__container .nav-link {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 5px;
    color: black;
    text-align: center;
}